.toDo__list__name {
    font-size: 20px;
    margin-bottom: 0;
    word-break: break-word;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.toDo__list__name span{
    font-size: 14px;
}


.toDo__list__name.done {
    text-decoration: line-through;
    text-decoration-color: black;
}

.toDo__list__name.important{
    color: red;
}



.btn{
    border:none
}
